
:root{
    --silver-bg: #f6f9fa;
    --silver-border-color: #cdcdcd;
    --silver-shadow: #c3c3c3;
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: #f6f9fa;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a { color:#2266ef; text-decoration: none;}
a:hover{ text-decoration:underline;}
button{ background-color: transparent; border: none; cursor: pointer;}
input { outline: none; }
svg {
    height: 25px;
    width: 25px;
}
.container {
    margin: 0 auto;
    max-width: 1400px;
}
.grid-2{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto auto;
    background-color: #fff;
}
.navBar{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 20px;
}
.navBar h2{
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 18px;
    color: #525252;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
}
.navBar nav{
    position: -webkit-sticky; 
    position: sticky;
    top: 53px;
}
.navBar ul{
    margin: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none; 
    padding-left: 0px;
}

.grid-Center{
    background-color: #fff;
    box-shadow: -20px 0px 36px 0px rgba(0,0,0,0.05);
    padding: 25px;
}
.grid-Center h1, h2{
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
.grid-Center h1{
    margin: 0;
}
.grid-Center h2{
    margin-top: 37px;
    padding-bottom: 5px;
}
.grid-Center figure{
    margin: 0;
}
.grid-Center .img_Content{
    float: right;
    clear: right;
    margin: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.grid-Center .title{
    background-color: #BEAE89;
    text-align: center;
    padding: 8px;
}
.grid-Center .title strong{
    font-size: 19px;
}
.grid-Center figure{
    margin: 15px 0;
}
.grid-Center figcaption{
    font-size: 12px;
    text-align: center;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
}
.details div{
    display: flex;
    gap: 5px;
}
.details div span{
    width: 50%;
    padding: 2px 3px;
    display: flex;
    align-items: center;
}
.details .name{
    background-color: #e7dcc3;
    font-weight: bold;
}
header {
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 80px;
}
header .container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

header .nav {
    display: flex;
    align-items: center;
    position: relative;
}

header ul{
    list-style: none; 
}
header a.logo{
    text-align: center;
}
ul.menu {
    display: none;
}
ul.menu.showMenu{
    z-index: 10;
    display: flex;
    gap: 5px;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    top: 27px
    -webkit-box-shadow: 0px 0px 25px -6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 25px -6px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 25px -6px rgba(0,0,0,0.3);
}
ul.menu li{
    white-space: nowrap;
}
ul.menu li.title{
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
}
.closeIcon{
    display: none;
}

#search{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
#search input{
    border: none;
    padding: 7px;
    font-size: 16px;
}
#account{
    display: flex;
    gap: 10px;
    align-items: center;
}
#account a{
    color: #000;
}
#account a:hover{
    color: #1100d0;
}

footer {
    min-height: 100px;
    border-top: solid 1px #e5e5e5;
    font-size: 12px;
    background-color: #fff;
    padding: 25px 15px;
    box-sizing: border-box;
}
footer > nav > ul {
    display: flex;
    gap: 10px;
}